.SearchResults {
  width: 50%;
  height: 500px;
  overflow-y: scroll;
  padding: 0rem .88rem .88rem .88rem;
  background-color: rgba(42, 30, 0, 0.9)
}

.SearchResultsHeader{
  border-bottom: 1px solid #6f6f6f;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}