*{
  font-family: 'Montserrat', sans-serif;
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  margin: 0px;
  padding-top:1.5rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.88rem
}

h2 {
  font-size: 1.55rem
}

.App {
  height: 100%;
  padding: 0 17% 3% 17%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}